In [3]:
voter=int(input("Enter your age:"))
if(voter>18):
    print("You can vote")
else:
    print("Age limit is 18")

Enter your age: 13

Age limit is 18

In [1]:
student=int(input("Enter your mark:"))
if(0<=student<=100):
        print("valid mark") 
        print("pass mark")
if(student>=90 and student<=100):
        print("A grade")
elif(student>=80 and student<=89):
    print("B grade")
elif(student>=70 and student<=79):
    print("C grade")
elif(student>=60 and student<=69):
    print("D grade")
elif(student>=50 and student<=59):
    print("E garde")
elif(student<=49):
    print("FAIL") 
    print("50+ PASS otherwise FAIL ")
else:
    print("invalid mark")

Enter your mark: 45

valid mark
pass mark
FAIL
50+ PASS otherwise FAIL

In [7]:
 print("Flight_ticket_booking")
user1=input()
counter1="okk sir "
print(counter1)
counter2=int(input("enter the price:"))
print(counter2)
user2= "no sir i have 500 sir "
print(user2)
counter3=int(input("Minimum cost price:"))
print(counter3)
user3=input()
counter4="yes sir 10% offer"
print(counter4)
a=counter3*(10/100)
print(a)
print("Total:",counter3-a)
print("Ticket booked ")

Flight_ticket_booking

 Hii sir i want to book flight ticket

okk sir

enter the price: 1000

1000
no sir i have 500 sir

Minimum cost price: 899

899

 There is any offer

yes sir 10% offer
89.9
Total: 809.1
Ticket booked

In [ ]:
#fligt ticket booking ? rate =1000 ,500 no ,min ,899 , offer card , 10% - 900 =? "ticket booked"

In [25]:
#Get one mark from student
#mark 0 to 100 otherwise invalid mark
#50 + PASS otherwise FAIL
#90 to 100 ===> A  ==> Even + Odd -
#80 to 89 ===> B
#70 to 79 ===> C
#60 to 69 ===> D
#50 to 59 ===> E
#0 to 49 ===> FAIL
#93 ===> A-
#99 ===> A-
#88 ====> B+
#78
#VALID MARK
#PASS MARK
#B+

In [10]:
a=str(input("enter a value:"))
b=bool(a)
print(b,type(b))

enter a value: det

True <class 'bool'>

In [12]:
a=str(input("enter a value:"))
b=float(a)
print(b,type(b))

enter a value: sar

ValueError: could not convert string to float: 'sar'

In [14]:
a=bool(input("enter a value:"))
b=str(a)
print(b,type(b))

enter a value: tyu

True <class 'str'>

In [16]:
a=bool(input("enter a value:"))
b=int(a)
print(b,type(b))

enter a value: klj

1 <class 'int'>

In [18]:
a=bool(input("enter a value:"))
b=float(a)
print(b,type(b))

enter a value: uio

1.0 <class 'float'>

In [24]:
a=float(input("enter a value:"))
b=str(a)
print(b,type(b))

enter a value: 789

789.0 <class 'str'>

In [26]:
a=float(input("enter a value:"))
b=int(a)
print(b,type(b))

enter a value: 576

576 <class 'int'>

In [28]:
a=float(input("enter a value:"))
b=bool(a)
print(b,type(b))

enter a value: 89

True <class 'bool'>

In [30]:
a=float(input("enter a value:"))
b=str(a)
print(b,type(b))

enter a value: 89

89.0 <class 'str'>

In [ ]:
# radius = 3.8 height 5.6 find area of cone (1/3 pi r * r * h

In [1]:
a=float(input("enter a radius:"))
b=float(input("enter a height:"))
c=0.3*3.14*a*b
print(round(c))

enter a radius: 3.4
enter a height: 5.4

17

In [45]:
a=float(input("enter a value:"))
c=a*a
print(c)

enter a value: 3.4

11.559999999999999

In [9]:
a=float(input("enter a value:"))
b=6*a*a
print(round(b))

enter a value: 6.8

277

In [11]:
a=float(input("enter a value:"))
b=float(input("enter a value:"))
c=0.5*a*b
print(round(c))

enter a value: 8.4
enter a value: 7.6

32

In [56]:
a=float(input("enter a value:"))
b=float(input("enter a value:"))
c=a*b
print(c)

enter a value: 2.3
enter a value: 3.4

7.819999999999999

In [58]:
l=float(input("enter a value:"))
w=float(input("enter a value:"))
c=l*w
print(c)

enter a value: 2.3
enter a value: 3.4

7.819999999999999

In [66]:
a=int(input("enter your pin"))
b=1234
if(a==b):
    print("please enter your amount")
else:
    print("your pin number is wrong")

enter your pin 1234

please enter your amount

In [ ]:
area of the square = a * a  
area of the  Qube = 6 a*a
area of the triangle = 1/2 *b*h
area of the parellogram = b*h
area of the rectangle = l*w

In [41]:
a="computer science"
print(a[6]+a[9])
print(a[-5:-1])
#es
#ienc

es
ienc

In [5]:
a="computer science"
b=a[-11]
c=a[10:12]
d=c[::-1]
e=b+d
print(e)
print(a[0:2])
print(a[0::15])
print(a[6]+a[9]+a[12])
print(a[5]+a[10])
print(a[3]+a[6]+a[9]+a[-4])
print(a[-5])
print(a[8])

#tic

tic
co
ce
ese
tc
pese
i

In [ ]:
#tic
#cmu
#ce
#ese
#tc
#pese
#i

In [99]:
a="computer science"
print(a[0::2])
#cmu

cmue cec

In [109]:
a="computer science"
print(a[0::15])
#ce

ce

In [117]:
a="computer science"
print(a[6]+a[9]+a[12])
#ese

ese

In [123]:
a="computer science"
print(a[5]+a[10])
#tc

tc

In [141]:
a="computer science"
print(a[3]+a[6]+a[9]+a[-4])
#pese

pese

In [139]:
a="computer science"
print(a[-5])
#i

i

In [143]:
a="computer science"
print(a[8])

In [ ]:
#tic
#cmu
#ce
#ese
#tc
#pese
#i