In [ ]:
#Create an empty list (two ways)
#Concatenate with [5,6,7,8]
#add 8,9,1,5,6,7,8,1 elements to that list
#Find frequency of 8 (count)
#find the mean of the list
#find sum (List) + min + Max 
#Find median of the list
#remove duplicates from list and give output in the format of tuple

In [228]:
#Concatenate with [5,6,7,8]
#add 8,9,1,5,6,7,8,1 elements to that list
o=[]
print(o)
a=[5,6,7,8]
b=[8,9,1,5,6,7,8,1]
c=a.extend(b)
print(a)
d=(a.count(8))
print(d)
e=[5,6,7,8]
f=[8,9,1,5,6,7,8,1]
g=set(e+f)
print(tuple(g))
h=sum(b)/len(b)
print(h)
i=sum(b)+min(b)+max(b)
print(i)

[]
[5, 6, 7, 8, 8, 9, 1, 5, 6, 7, 8, 1]
3
(1, 5, 6, 7, 8, 9)
5.625
55

In [234]:
#a = [1,2,3,4,[100,101,102,"Computer_science"],200,203]
#Extract
#science
#computer
a=[1,2,3,4,[100,101,102,"Computer_science"],200,203]
print(a[4][3][9:])
print(a[4][3][0:8][::-1])

science
retupmoC

In [591]:
#a = [1,2,3,4,[101,102,103,[201,202,[999]], 666, 777]]
#Extract
#666
#201
#102
#999
#777
a=[1,2,3,4,[101,102,103,[201,202,[999]], 666, 777]]
print(a[4][-2])
print(a[4][1])
print(a[4][-1])
print(a[4][3][0])
print(a[4][3][2][0])

666
102
777
201
999

In [230]:
#Li1 = [1,2,3,4,5,[11,22,33,44,55,[111,222,333,444],6666,7777],7777]
#Output Prediction 
#print(Li1[5][0])
#print(Li1[5][6])
#print(Li1[5][-2])
#print(Li1[5][7])
#print(Li1[6])
#print(Li1[5][5][1])
#print(Li1[-2][-1])
#print(Li1[2][2:4])
Li1 = [1,2,3,4,5,[11,22,33,44,55,[111,222,333,444],6666,7777],7777]
print(Li1[5][0])
print(Li1[5][-2])
print(Li1[5][6])
print(Li1[5][7])
print(Li1[6])
print(Li1[5][5][1])
print(Li1[-2][-1])

11
6666
6666
7777
7777
222
7777

In [587]:
#Li1 = [2,3,"python","hello",4,5,0]  
#Extract
#ll
#thon
a=[2,3,"python","hello",4,5,0]
b=a[2]
c=len(b)//2
d=c-1
print(b[d:])
e=a[3]
f=len(e)//2
print(e[f:-1])

thon
ll

In [188]:
#Li1 = [2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]
#666
#89
a=[2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]
print(a[3])
print(a[4][1])
print(a[4][4][1])
print(a[4][4][3][2][1])
print(a[4][4][3][0])
print(a[4][4][3][2][3][3:6])
print(a[4][4][3][2][2][4:])
print(a[4][4][2])
print(a[4][4][3][1])
print(a[4][4][3][4])

5
56
222
50000
5555
put
on
333
3333
7777

In [45]:
#Create two tuples (1,4,5,6,7,8) (5,6,7,8,9)
#Find the common elements between two tuples
#Concatenate both tuples and remove duplicates from tuple
#Find the index value of 9 (after concatenation)
#multiply above elements 3 times
a=(1,4,5,6,7,8)
b=(5,6,7,8,9)
c=a+b
d=tuple(set(c))
print(d)
e=c*3
print(e)
f=list(c)
print(d.index(9))

(1, 4, 5, 6, 7, 8, 9)
(1, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 1, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 1, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9)
6

In [172]:
#Create two empty sets
#update set1 with 7,8,9,1,2,3,4,5,0
#update set2 with 4,5,6,0
#check whether set2 is subset of set1 or no ?
#check whether both have common elements are no ?
#remove 8 from set 1 and set 2 ==> find the inferences
#discard 0 from set1 and set2 
#find collection of both sets ===> set1 and set2
a=set()
b=set()
print(a,b)
a.update({7,8,9,1,2,3,4,5,0})
print(a)
b.update({4,5,6,0})
print(b)
c=a.issubset(b) 
print(c)
d=a.issuperset(b)
print(d)
e=a.remove(8)
print(a)
f=a.discard(0)
g=b.discard(0)
print(a)
print(b)
h=a.union(b)
print(h)

set() set()
{0, 1, 2, 3, 4, 5, 7, 8, 9}
{0, 4, 5, 6}
False
False
{0, 1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 9}

In [196]:
#create a dictionary
#{1:["english","maths","science"], 2:[10,20,30], 3:["bio-botany","bio-zoology","Algebra"]}
#Extract "bobtn" from above dictionary
#Extract "arbeg" from above dictionary
#print all keys in dictionary and convert it into tuple
#Find the average of all numbers available under key "2"
a={1:["english","maths","science"], 2:[10,20,30], 3:["bio-botany","bio-zoology","Algebra"]}
print(a[3][0][::2])
print(a[3][-1])
b=tuple(a)
print(b)
c=a[2]
d=sum(c)/len(c)
print(d)

bobtn
Algebra
(1, 2, 3)
20.0

In [ ]:
a=input("enter a string:")
print(len(a))